<div class="bulletin_form">
<%= form_for @bulletin do |b| %>
  <%= render 'shared/error_messages', :record => @bulletin %>
    <%= b.label :title %><br /><%= b.text_field :title %><br />
    <%= b.label :bulletin %><br /><%= b.text_area :bulletin, :rows => "4" %><br />
    <%= b.check_box :current %> <%= b.label :current %><br />
    <%= b.check_box :public %> <%= b.label :public %><br />
    <%= b.submit submit_text %> <%= link_to "Cancel", :back %>
<% end %>
</div>