<%= form_for @user do |u| %>
  <%= render 'shared/error_messages', :record => @user %>
  <div class="field">
    <%= u.label :first_name %><br /><%= u.text_field :first_name %><br />
  </div>
  <div class="field">
    <%= u.label :middle_name %><br /><%= u.text_field :middle_name %><br />
  </div>
  <div class="field">
    <%= u.label :last_name %><br /><%= u.text_field :last_name %><br />
  </div>
  <div class="field">
    <%= u.label :employee_number %><br /><%= u.text_field :employee_number %><br />
  </div>
  <div class="field">
    <%= u.label :email %><br /><%= u.text_field :email %><br />
  </div>
  <div class="field">
    <%= u.label :work_phone %><br /><%= u.text_field :work_phone %><br />
  </div>
  <div class="field">
    <%= u.label :cell_phone %><br /><%= u.text_field :cell_phone %><br />
  </div>
  <div class="field">
    <%= u.label :location %><br /><%= u.collection_select :location_id, Location.all, :id, :name, :include_blank => "main location" %><br />
  </div>
  <div class="field">
    <%= u.label :password %><br /><%= u.password_field :password %>
  </div>
  <div class="field">
    <%= u.label :password_confirmation %><br /><%= u.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= u.submit submit_text %>
  </div>
<% end %>