<% @bulletin.each do |b| %>
<table class="bulletin">
  <tr><td><%= b.updated_at %>
    <% if signed_in_admin? %>
      <span id="bulletinactions"><%= link_to image_tag('icons/pencil.png', :alt => 'Edit', :title => 'Edit bulletin'), edit_bulletin_path(b.id) %> <%= link_to image_tag('icons/delete.png', :alt => 'Delete', :title => 'Delete bulletin'), b, :method => :delete, :confirm => "Are you sure?", :title => "Delete #{b.title}" %></span>
    <% end %>
  </td></tr>
  <tr><td><%= b.title %></td></tr>
  <tr><td><%= b.bulletin %></td></tr>
</table>
<% end %>