<div id="profile">
<table class="profile">
  <tr>
    <td>Name</td>
    <td><%= current_user.last_name %>, <%= current_user.first_name %> <%= current_user.middle_name %></td>
  </tr>
  <tr>
    <td>Employee ID</td>
    <td><%= current_user.employee_number %></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= current_user.email %></td>
  </tr>
  <tr>
    <td>Work Phone</td>
    <td><%= current_user.work_phone %></td>
  </tr>
  <tr>
    <td>Cell Phone</td>
    <td><%= current_user.cell_phone %></td>
  </tr>
  <tr>
    <td>Location</td>
    <td><%= current_user.location.name %></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><%= link_to "Edit Profile", edit_user_path(current_user) %></td>
  </tr>
</table>
</div>