<div class="user_box_left">
<% if signed_in? %>
  <div class="user_box_left_content">
    <%= link_to "Create Ticket", new_ticket_path %>
    <br />Click to create a new<br />Service Desk ticket.
  </div>
  <div class="user_box_left_content">
    <%= render 'shared/profile' %>
  </div>
<% else %>
  <div class="user_box_left_content">
    <%= render 'shared/login' %>
  </div>
<% end %>
</div>

<div class="user_content">
<% if signed_in? %>
  <%= render 'shared/knowledgebase_search' %>
  <%= render 'shared/tickets' %>
<% else %>
  <%= render 'shared/public_content' %>
<% end %>
</div>
<br />

<%= render 'shared/collection_of_bulletins' %>