<div class="user_box_left">
<% if signed_in? %>
  <%= render 'shared/profile' %>
<% else %>
  <%= render 'shared/login' %>
<% end %>
</div>

<div class="user_content">
<% if signed_in? %>
  <%= link_to "Create Ticket", new_ticket_path %>
<% end %>
<br />
<%= render 'shared/tickets' %>
</div>
<br />

<%= render 'shared/collection_of_bulletins' %>