<% form_for @ticket do |t| %>
<%= render :partial => 'shared/error_messages', :locals => { :record => @ticket }%>
<div id="ticket_table_bg">
<table class="edit_ticket">
  <tr>
    <td colspan="3"><%= t.label :title %> <%= t.text_field :title, :size => "100" %></td>
  </tr>
  <tr>
    <td><%= t.label :location_id %> <%= t.collection_select :location_id, Location.all, :id, :name, {:selected => current_user.location_id, :include_blank => "location"} %></td>
    <td><% if current_user.worker? %>
        <%= t.label :assigned_to %> <%= t.collection_select :assigned_to, User.where("worker = ?", true), :id, :full_name, { :selected => @ticket.assigned_to, :include_blank => "assigned to" } %>
        <% else %>
            &nbsp;
        <% end %>
    </td>
    <td><% if current_user.worker? %>
            <%= t.label :ticket_type %> <%= t.select :ticket_type, Ticket::TICKET_TYPE, :include_blank => "ticket type" %>
        <% else %>
            &nbsp;
        <% end %>
    </td>
  </tr>
  <% if current_user.worker? %>
  <tr>
    <td><%= t.label :priority %> <%= t.select :priority, Ticket::PRIORITY, :include_blank => "priority" %></td>
    <td><%= t.label :urgency %> <%= t.select :urgency, Ticket::URGENCY, :include_blank => "urgency" %></td>
    <td><%= t.label :impact %> <%= t.select :impact, Ticket::IMPACT, :include_blank => "impact" %></td>
  </tr>
  <tr>
    <td><%= t.label :status %> <%= t.select :status, Ticket::STATUS, :include_blank => "status" %></td>
    <td><%= t.label :resolution %> <%= t.select :resolution, Ticket::RESOLUTION, :include_blank => "resolution" %></td>
    <td>&nbsp;</td>
  </tr>
  <% end %>
  <tr>
    <td colspan="3"><%= t.label :issue %><br /><%= t.text_area :issue, :rows => "8", :cols => "80" %></td>
  </tr>
  <% if current_user.worker? %>
  <tr>
    <td colspan="3"><%= t.label :resolution_explanation %><br /><%= t.text_area :resolution_explanation, :rows => "8", :cols => "80" %>
  </tr>
  <% end %>
  <tr>
    <td><%= t.submit submit_text %></td><td><%= link_to "Cancel", root_path %></td><td>&nbsp;</td>
  </tr>
</table>
</div>
<% end %>