<br />
<h1>Edit Ticket</h1>
<% form_for @ticket do |t| %>
<div class="field">
  <%= t.label :title %><br /><%= t.text_field :title %><br />
</div>
<% if signed_in_worker? %>
<div class="field">
  <%= t.label :contact %><br /><%= t.text_field :contact %><br />
</div>
<% end %>
<div class="field">
  <%= t.label :assigned_to %> <%= t.collection_select :assigned_to, User.where("worker = ?", true), :id, :full_name %><br />
</div>
<div class="field">
  <%= t.label :location_id %> <%= t.collection_select :location_id, Location.all, :id, :name %><br />
</div>
<div class="field">
  <%= t.label :ticket_type %> <%= t.select :ticket_type, Ticket::TICKET_TYPE %><br />
</div>
<div class="field">
  <%= t.label :priority %> <%= t.select :priority, Ticket::PRIORITY %><br />
</div>
<div class="field">
  <%= t.label :urgency %> <%= t.select :urgency, Ticket::URGENCY %><br />
</div>
<div class="field">
  <%= t.label :impact %> <%= t.select :impact, Ticket::IMPACT %><br />
</div>
<div class="field">
  <%= t.label :status %> <%= t.select :status, Ticket::STATUS %><br />
</div>
<div class="field">
  <%= t.label :resolution %> <%= t.select :resolution, Ticket::RESOLUTION %><br />
</div>
<div class="field">
  <%= t.label :issue %><br /><%= t.text_area :issue, :rows => "8", :cols => "80" %><br />
</div>
<div class="field">
  <%= t.label :resolution_explanation %><br /><%= t.text_area :resolution_explanation, :rows => "8", :cols => "80" %><br />
</div>
<div class="actions">
  <%= t.submit "Update Ticket" %>
</div>
<% end %>