<!DOCTYPE html>
<html>
<head>
  <title>Helpdesk</title>
  <%= render 'layouts/includes' %>
</head>
<body>
  <menu>
    <%= render 'layouts/menu' %>
  </menu>
  <div class="container">
    <header>
      <%= render 'layouts/header' %>
    </header>
    <div class="content">
      <%= yield %>
    </div>
  </div>
  <footer id="footer" class="container">
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </footer>
</body>
</html>
