<!DOCTYPE html>
<html>
<head>
  <title>Helpdesk</title>
  <%= render 'layouts/includes' %>
</head>
<body>
  <menu>
    <%= render 'layouts/menu' %>
  </menu>
  <div id="container">
    <header>
      <%= render 'layouts/header' %>
    </header>
    <content>
      <%= yield %>
    </content>
  </div>
  
<%= debug(params) if Rails.env.development? %>
</body>
</html>
